@font-face {
  font-family: insomnia;
  src: url(font/insomnia.ttf);
  font-weight: bold;
}

*{
	font-size:32px;
	text-align: center;
}

body
{
	margin-left: 20%;
	width: 60%;
}

h1, h2
{
	text-align: center;
}

a
{
	text-decoration: none;
	color: black;
}

table
{

	width: 60%;
	margin-left: 20%;
	border: 1px solid black;
	border-collapse: collapse;
	margin-bottom: 1em;
}

th, td
{
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid black;
	border-collapse: collapse;
}

li
{
	text-align: left;
}

.dice_cell
{
	width: 1%;
	white-space: nowrap;
	padding: 0;
}

a:hover
{
	font-size: 32px;
	font-weight: bold;
}

.main-title
{
	font-family: insomnia;
	font-size: 80px;

}

.columns_div
{
	display: flex;
	flex-direction: row;
}

.column
{
	margin: 0px;
	width: 50%;
}
